* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --background: #000;
    --color: #ffff;
    --color-yellow: yellow;
}

/*header*/
html{
    scroll-behavior: smooth;
}
body {
    background: var(--background);
    color: var(--color);
    font-family: "Poppins", sans-serif;
}

/*common typography*/
a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
}
.container {
    max-width: 1140px;
    margin: auto;
    position: relative;
}
img {
    max-width: 100%;
}
h2 {
    font-size: 60px;
    line-height: 1.2;
}
button{
    padding: 15px 60px;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 100px;
}
/*common typoraphy*/
nav {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}
nav ul {
    display: flex;
    list-style: none;
}
 nav a h1{
    font-size: 50px;
    color: var(--color-yellow);
    font-weight: 700;
 }
nav a {
    font-size: 20px;
    padding: 10px 20px;
    text-transform: capitalize;
    position: relative;
}
nav ul a::before {
    content: "";
    width: 0%;
    height: 2px;
    background: yellow;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    transition: all 0.3s;
}
nav ul a:hover {
    color: yellow;
}
nav ul a:hover::before {
    width: calc(100% - 40px);
}
.logo {
    font-weight: 700;
    font-size: 20px;
    padding: 10px 0;
}
/*banner section*/
.banner{
    min-height: 90vh;
}
.banner button{
    margin-top: 30px;
    background-image: linear-gradient(to right,yellow,#000);
    transition: all 0.3s;
}
.banner button:hover{
    padding: 15px 70px;
    font-weight: 600;
    font-size: 18px;
  
    
}
.banner .container {
    display: flex;
    align-items: center;
}
.banner .left {
    width: 40%;
}
.banner .right {
    width: 60%;
    display: flex;
    justify-content: center;
}
.banner img {
    object-fit: contain;
}
.banner h1 {
    font-size: 70px;
    line-height: 1.2;
    margin-bottom: 30px;
}
.banner h1 span {
    color: yellow;
}
.banner .shape {
    z-index: -1;
    position: absolute;
    display: inline-block;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background: yellow;
    filter: blur(100px);
}

/*skills*/
.skills {
    padding: 80px 0;
    background: url(./ss.webp);
    background-attachment: fixed;
    position: relative;
}
.skills::before{
    content: "";
    background: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.skills h2 {
    text-align: center;
}
.skills .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
}
.skills ul {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    justify-content: center;
    list-style: none;
}
.skills li {
    min-width: 300px;
    flex-shrink: 0;
    font-size: 20px;
    background: #fff;
    color: black;
    padding: 5px 20px;
    border-radius: 100px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    font-weight: 600;
}

.skills li span {
    content: "";
    width: 0%;
    height: 100%;
    background: yellow;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    transition: all 0.3s;
}
/*contact*/
.contact{
    padding-top: 80px;
    overflow: hidden;
}
.contact img {
    width: 50%;
    height: auto;
    object-fit: contain;
    position: relative;
}
.contact h2{
    text-align: center;
    margin-bottom: 40px;
}
.contact .container{
    display: flex;
    align-items: center;
}

.contact form{
    width: 50%;
}
.contact .shape {
    z-index: -1;
    position: absolute;
    display: inline-block;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background: yellow;
    filter: blur(100px);
}


.contact input,
textarea {
    width: 100%;
    padding: 10px 20px;
    outline: none;
    border: none;
    font-size: 16px;
    margin-bottom: 20px;
    font-family: inherit;
    border-radius: 4px;
}
.contact textarea{
    min-height: 200px;
}
.contact .container {
    display: flex;
}
/*blogs section*/
.blog {
    padding: 100px 0;
}
.blog h2 {
    text-align: center;
    margin-bottom: 40px;
}
.blog .cards {
    display: flex;
    gap: 30px;
}
.blog .item {
    width: 360px;
    border: 1px solid #8888885c;
    border-radius: 8px;
    overflow: hidden;
}
.blog .item p {
    margin-bottom: 20px;
}
.blog .time {
    opacity: 0.6;
}
.blog .content {
    padding: 20px;
}
.blog .title {
    font-size: 30px;
}
.blog .item img {
    height: 300px;
    width: 100%;
}
/*footer css*/
footer {
    padding: 80px 0;
    background: rgb(21 21 21);
}
footer a {
    transition: all 0.3s;
}
footer .about {
    min-width: 300px;
}
footer ul {
    list-style: none;
}
footer .container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}
footer h4 {
    font-size: 18px;
    margin-bottom: 10px;
}
footer li {
    margin-bottom: 8px;
}
footer a:hover {
    color: yellow;
    padding-left: 5px;
}
